/* =Drum pads
-------------------------------------------------------------- */

#drums {
    width:100%;
    clear:both;
    overflow:hidden;
    height:15em;
    margin-top:2em;
    position: relative;
    cursor: pointer;
}

.key {
    width:25%;
    height:25%;
    float:left;
    background:white;
    border: 1px solid black;
    box-shadow:0 2px 3px rgba(0,0,0,0.3);
}

.key:active,.key.active {
    background:#006fac;
}

.sharp {

}
