

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

textarea{
    width: 100%;
    min-width:5em;

    height:8em;
    min-height:5em;
}

.iterate {
    background-color: #006fac;
    color: #fff;
}

.iterate.invert {
    background-color: #fff;
    color: #006fac;
}














